{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block javascripts_top %}
	{{ encore_entry_script_tags('app') }}
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
	{{ encore_entry_link_tags('login') }}
{% endblock %}

{% block body %}

	{% if error %}
		<!-- Error Alert -->
		<div class="alert alert-danger alert-dismissible fade show">
			<strong>Error!</strong>
			A problem has been occurred while submitting your data.<br/>
			Please check again your login and password.
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
	{% endif %}

	<div class="wrapper fadeInDown">
		<div id="formContent">
			<!-- Tabs Titles -->

			<!-- Icon -->
				<div class="fadeIn first"> <img style="width:200px;" src="login.png" id="icon" alt="login Icon"/></div>

			<!-- Login Form -->
			<form method="post">
				<input type="text" id="email" class="fadeIn second" name="email" placeholder="Email" required autofocus>
				<input type="password" id="inputPassword" class="fadeIn third" name="password" placeholder="Password" required>
				<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
				<input type="submit" class="fadeIn fourth" value="Log In">
			</form>

			<a class="underlineHover" href="{{ path('register') }}">Register</a>

		</div>
	</div>
{% endblock %}
