{% extends 'base.html.twig' %}

{% block title %}Log in!
{% endblock %}

{% block javascripts_top %}
	{{ encore_entry_script_tags('app') }}
	<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
	<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
	{{ encore_entry_link_tags('login') }}
{% endblock %}

{% block body %}
	<div class="wrapper fadeInDown">
		<div id="formContent">
			<!-- Tabs Titles -->

			<!-- Icon -->
				<div class="fadeIn first"> <img style="width:200px;" src="login.png" id="icon" alt="login Icon"/></div>

			<!-- Login Form -->
			{{ form(registrationForm) }}
			</div>
		</div>
	{% endblock %}
