{% extends 'base.html.twig' %}

{% block title %}RWBY Clicker
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
	{{ encore_entry_link_tags('clicker') }}
{% endblock %}

{% block body %}
	<body id="body" style="margin: 0;" onload="initialiseTheGame()" oncontextmenu="return false;">
		<div id="spinner" class="spinner-border text-primary" role="status">
			<span class="sr-only">Chargement...</span>
		</div>
		<div id="mobile">
			<div id="mobile_zone-click" onclick="onClick()">
				<img src="no_image_available.png" id="mobile_imgMonstre"/>
			</div>
			<div id="mobile_infosMonstre">
				<p id="mobile_nomMonstre"></p>
				<div id="mobile_progress" class="progress">
					<div id="mobile_LPMonstre" class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
				</div>
			</div>
			<div id="mobile_infos">
				<p id="mobile_money"></p>
				<p id="mobile_monstre"></p>
				<p id="mobile_clic"></p>
			</div>
			<div id="mobile_upgrade">
				<span id="mobile_infosAtlesianKnight130">Atlesian Knight-130 (1 more click per click)</span><br/>
				<div id="mobile_divAtlesianKnight130">
					<span id="mobile_nombreAtlesianKnight130"></span><br/>
				</div>
				<button id="mobile_buttonAtlesianKnight130" class="btn btn-danger" onclick="clickButtonUpgrade('AtlesianKnight130')"></button><br/><br/>

				<span id="mobile_infosAtlesianKnight200">Atlesian Knight-200 (5 more click per second)</span><br/>
				<div id="mobile_divAtlesianKnight200">
					<span id="mobile_nombreAtlesianKnight200"></span><br/>
				</div>
				<button id="mobile_buttonAtlesianKnight200" class="btn btn-danger" onclick="clickButtonUpgrade('AtlesianKnight200')"></button><br/><br/>

				<span id="mobile_infosAtlesianKnight290">Atlesian Paladin-290 (10 more click per second)</span><br/>
				<div id="mobile_divAtlesianPaladin290">
					<span id="mobile_nombreAtlesianPaladin290"></span><br/>
				</div>
				<button id="mobile_buttonAtlesianPaladin290" class="btn btn-danger" onclick="clickButtonUpgrade('AtlesianPaladin290')"></button><br/><br/>

				<span id="mobile_infosSpiderDroid">Spider Droid (100 more click per second)</span><br/>
				<div id="mobile_divSpiderDroid">
					<span id="mobile_nombreSpiderDroid"></span><br/>
				</div>
				<button id="mobile_buttonSpiderDroid" class="btn btn-danger" onclick="clickButtonUpgrade('SpiderDroid')"></button><br/><br/>

				<span id="mobile_infosAP06">AP-06 (1000 more click per second)</span><br/>
				<div id="mobile_divAP06">
					<span id="mobile_nombreAP06"></span><br/>
				</div>
				<button id="mobile_buttonAP06" class="btn btn-danger" onclick="clickButtonUpgrade('AP06')"></button><br/><br/>

				<span id="mobile_infosColossus">Colossus (10 000 more click per second)</span><br/>
				<div id="mobile_divColossus">
					<span id="mobile_nombreColossus"></span><br/>
				</div>
				<button id="mobile_buttonColossus" class="btn btn-danger" onclick="clickButtonUpgrade('Colossus')"></button>
			</div>
		</div>
		<div id="computer">
			<div id="computer_clicker">
				<div id="computer_upgrade">
					<span id="computer_infosAtlesianKnight130">Atlesian Knight-130 (1 more click per click)</span><br/>
					<div id="computer_divAtlesianKnight130">
						<span id="computer_nombreAtlesianKnight130"></span><br/>
					</div>
					<button id="computer_buttonAtlesianKnight130" class="btn btn-danger" onclick="clickButtonUpgrade('AtlesianKnight130')"></button><br/><br/>

					<span id="computer_infosAtlesianKnight200">Atlesian Knight-200 (5 more clicks per second)</span><br/>
					<div id="computer_divAtlesianKnight200">
						<span id="computer_nombreAtlesianKnight200"></span><br/>
					</div>
					<button id="computer_buttonAtlesianKnight200" class="btn btn-danger" onclick="clickButtonUpgrade('AtlesianKnight200')"></button><br/><br/>

					<span id="computer_infosAtlesianKnight290">Atlesian Paladin-290 (10 more clicks per second)</span><br/>
					<div id="computer_divAtlesianPaladin290">
						<span id="computer_nombreAtlesianPaladin290"></span><br/>
					</div>
					<button id="computer_buttonAtlesianPaladin290" class="btn btn-danger" onclick="clickButtonUpgrade('AtlesianPaladin290')"></button><br/><br/>

					<span id="computer_infosSpiderDroid">Spider Droid (100 more clicks per second)</span><br/>
					<div id="computer_divSpiderDroid">
						<span id="computer_nombreSpiderDroid"></span><br/>
					</div>
					<button id="computer_buttonSpiderDroid" class="btn btn-danger" onclick="clickButtonUpgrade('SpiderDroid')"></button><br/><br/>

					<span id="computer_infosAP06">AP-06 (1000 more clicks per second)</span><br/>
					<div id="computer_divAP06">
						<span id="computer_nombreAP06"></span><br/>
					</div>
					<button id="computer_buttonAP06" class="btn btn-danger" onclick="clickButtonUpgrade('AP06')"></button><br/><br/>

					<span id="computer_infosColossus">Colossus (10 000 more clicks per second)</span><br/>
					<div id="computer_divColossus">
						<span id="computer_nombreColossus"></span><br/>
					</div>
					<button id="computer_buttonColossus" class="btn btn-danger" onclick="clickButtonUpgrade('Colossus')"></button>
				</div>
				<div id="computer_middle">
					<div id="computer_zone-click" onclick="onClick()">
						<img src="no_image_available.png" id="computer_imgMonstre"/>
					</div>
					<div id="computer_infosMonstre">
						<p id="computer_nomMonstre">?????????????????</p>
						<div id="computer_progress" class="progress">
							<div id="computer_LPMonstre" class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
					</div>
				</div>
				<div id="computer_infos">
					<p id="computer_money">000000000</p>
					<p id="computer_monstre">000000000</p>
					<p id="computer_clic">000000000</p>
				</div>
			</div>
		</div>
		<div id='cookie-bar'>
			<div style='display:inline-block;width:78%;margin:0; font-family: Arial;'>This website uses cookies to save your progress on this game. You can easily block cookies :
				<span id='stop-cookie'>just click here.</span>
			</div>
			<div style='width:20%;'>
				<span id='agree'>I agree</span>
			</div>
		</div>
		<span id='checkcookies'></span>
		{% block javascripts_bottom %}
			<script src="js/clicker.js"></script>
		{% endblock %}
	</body>
{% endblock %}
