{% extends 'base.html.twig' %}

{% block title %}
	Leaderboard
{% endblock %}

{% block body %}
	<div class="ml-5 mr-5">
		<h1 class="ml-4 mt-3 mb-3">Leaderboard</h1>
		<div>
			<form method="post" class="ml-5 mb-2">
				<button type="submit" class="btn btn-primary mr-1">Sort by :</button>
				{% if sort == 'dead' %}
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="sortOption" id="DeadMonsters" value="dead" checked>
						<label class="form-check-label" for="DeadMonsters">Killed Monsters</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="sortOption" id="Money" value="money">
						<label class="form-check-label" for="Money">Money</label>
					</div>
				{% else %}
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="sortOption" id="DeadMonsters" value="dead">
						<label class="form-check-label" for="DeadMonsters">Killed Monsters</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="sortOption" id="Money" value="money" checked>
						<label class="form-check-label" for="Money">Money</label>
					</div>
				{% endif %}
			</form>
			<div>
				<table class="table table-striped table-bordered table-hover table-dark text-center">
					<thead>
						<tr>
							<th scope="col">#</th>
							<th scope="col">Name</th>
							{% if sort == 'dead' %}
								<th scope="col">Killed Monsters</th>
							{% else %}
								<th scope="col">Money</th>
							{% endif %}
							<th scope="col" style="width: 120px">User Infos</th>
						</tr>
					</thead>
					<tbody>
						{% for user in users %}
							<a>
								<tr>
									<th scope="row">{{loop.index}}</th>
									<td>{{user.nickname}}</td>
									{% if sort == 'dead' %}
										<td>{{ formatNumber(user.deadMonster) }}</td>
									{% else %}
										<td>{{ formatNumber(user.money) }}</td>
									{% endif %}
									<td>
										<a href="/profile/{{user.id}}" class="btn btn-primary">See Infos</a>
									</td>
								</tr>
							</a>
						{% endfor %}
						{% if users|length < maxElement %}
							{% for i in users|length..maxElement %}
								<tr>
									<th scope="row">{{ i }}</th>
									<td></td>
									<td></td>
									<td></td>
								</tr>
							{% endfor %}
						{% endif %}
					</tbody>
				</table>
			</div>
		</div>
	{% endblock %}
