{% extends 'base.html.twig' %}

{% block title %}
	{{user.nickname}}'s Profile
{% endblock %}

{% block body %}
	<h1 style="margin-left: 5px;">{{user.nickname}}</h1>
	<div style="margin-left: 15px;">
		{% if same %}
			<p>Mon email :
				{{ user.email}}</p>
			<p>Mon password : **********</p>
		{% endif %}
		<p>Money :
			{{ formatNumber(user.money) }}</p>
		<p>Killed Monsters :
			{{ formatNumber(user.deadMonster) }}</p>
		<p>AtlesianKnight130Lvl :
			{{ formatNumber(user.atlesianKnight130) }}</p>
		<p>AtlesianKnight200Lvl :
			{{ formatNumber(user.atlesianKnight200) }}</p>
		<p>AtlesianPaladin290Lvl :
			{{ formatNumber(user.atlesianPaladin290) }}</p>
		<p>SpiderDroidLvl :
			{{ formatNumber(user.spiderDroid) }}</p>
		<p>AP06Lvl :
			{{ formatNumber(user.aP06) }}</p>
		<p>ColossusLvl :
			{{ formatNumber(user.colossus) }}</p>

		{% if same %}
			<a class="btn btn-primary" href="{{ path('resetpassword') }}">Modifier le mot de passe</a>
		{% endif %}
	</div>
{% endblock %}
