#body {
  background-color: #5d0102;
}

#spinner{
  position: fixed;
  left: 50%;
  top: 50%;
}

.spinner-border {
  width: 4rem;
  height: 4rem;
  border: 0.35em solid currentColor;
  border-right-color: transparent;
}

#mobile {
  display: initial;
}

#computer{
  display: none;
}

#checkcookies {
  z-index: 1;
  position: fixed;
  bottom: 20px;
  right: 2%;
  color: #FFFFFF;
  background: #000000;
  border-radius: 3px;
  line-height: 30px;
  padding: 10px 10px;
  margin: 1px 8px 0 0;
  font-weight: 600;
  font-size: 30px;
}

#cookie-bar {
  display: block;
  z-index: 10;
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  text-align: left;
  padding: 12px 0px;
  padding-left: 7%;
  margin: 0px;
  background: rgb(244, 244, 244);
  color: rgb(145, 145, 145);
  font: 28px arial, sans-serif;
}

#agree {
  position: fixed;
  bottom: 4px;
  right: 4%;
  color: #FFFFFF;
  background: #000000;
  border-radius: 3px;
  line-height: 30px;
  padding: 10px 10px;
  margin: 1px 8px 0 0;
  font-weight: 600;
  font-size: 30px;
}

#stop-cookie {
  text-decoration: underline;
}

#mobile_zone-click {
  text-align: center;
}

#mobile_infosMonstre {
  background-color: #c8cee0;
  font-size: 30px;
  padding: 15px;
}

#mobile_nomMonstre {
  text-align: center;
  font-weight: bold;
  margin-top: 10px;
}

#mobile_progress {
  margin-left: 25%;
  margin-right: 25%;
  margin-top: 2%;
}

#mobile_infos {
  background-color: #181413;
  color: white;
  font-size: 30px;
  font-weight: bold;
  padding: 15px 20px;
}

#mobile_upgrade {
  background-color:#d7bc54;
  width: 100%;
  color: white;
  height: fit-content;
  font-size: 30px;
  font-weight: bold;
  padding: 15px 20px;
}

#mobile_upgrade button{
  font-size: 30px;
  margin-top: 10px;
  margin-left: 10px;
}

@media screen and (min-width: 992px) {

  #html {
    height: 100%;
  }

  #body {
    height: 100%
  }

  #mobile {
    display: none;
  }

  #computer{
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  #computer_clicker {
    display: flex;
    flex-grow: 3;
    flex-direction: row;
  }
  
  #computer_middle {
    display: flex;
    flex-grow: 3;
    flex-direction: column;
  }
  
  #computer_imgMonstre {
    width: 50%;
  }
  
  #computer_zone-click {
    height: 80%;
    justify-content: center;
    align-items: center;
    display: flex;
  }
  
  #computer_infosMonstre {
    background-color: #c8cee0;
    font-size: 15px;
    padding: 15px;
    flex-grow: 1;
  }
  
  #computer_nomMonstre {
    text-align: center;
    font-weight: bold;
    margin-top: 10px;
  }
  
  #computer_progress {
    margin-left: 25%;
    margin-right: 25%;
    margin-top: 2%;
  }
  
  #computer_infos {
    background-color: #181413;
    color: white;
    font-size: 15px;
    font-weight: normal;
    padding: 15px 20px;
  }
  
  #computer_upgrade {
    background-color:#d7bc54;
    color: white;
    height: initial;
    width: initial;
    font-size: 15px;
    font-weight: normal;
    padding: 10px 10px;
  }
  
  #computer_upgrade button{
    font-size: 15px;
    margin-top: 10px;
    margin-left: 10px;
  }

  #checkcookies {
    z-index: 1;
    position: fixed;
    bottom: 6px;
    right: 2%;
    color: #FFFFFF;
    background: #000000;
    border-radius: 3px;
    line-height: 30px;
    padding: 0;
    margin: 1px 8px 0 0;
    font-weight: 600;
    font-size: 15px;
  }
  
  #cookie-bar {
    display: block;
    z-index: 10;
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    text-align: left;
    padding: 12px 0px;
    padding-left: 7%;
    margin: 0px;
    background: rgb(244, 244, 244);
    color: rgb(145, 145, 145);
    font: 15px arial, sans-serif;
  }
  
  #agree {
    position: fixed;
    bottom: 2px;
    right: 4%;
    color: #FFFFFF;
    background: #000000;
    border-radius: 3px;
    line-height: 30px;
    padding: 4px 4px;
    margin: 1px 8px 0 0;
    font-weight: 600;
    font-size: 15px;
  }
}

