{% extends 'base.html.twig' %}

{% block title %}
	{{monstre.name}}
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
	<main role="main" class="container">
		<div class="starter-template">
			<table>
				<tr>
					<td>
						<img src="../{{monstre.img}}" style="width:500px;margin-right:50px;"/>
					</td>
					<td>
						<h1 style=" margin-top: 50px;margin-bottom: 25px;font-size: 50px;">
							{{monstre.name}}
						</h1>
						<p>
							{{monstre.description | raw }}
						</p>
					</td>

				</tr>
			</table>
		</div>
	</main>
{% endblock %}
