{% extends 'base.html.twig' %}

{% block title %}Bestiary
{% endblock %}

{% block stylesheets %}
	{{ encore_entry_link_tags('app') }}
{% endblock %}

{% block body %}
	<h1 style="margin-left: 5px;">Bestiary</h1>
	<div class="list-group">
		{% for monstre in monstres %}
			<a href="/bestiary/{{ monstre.id }}" class="list-group-item list-group-item-action">
				<img src="{{monstre.img}}" style="width:150px"/>
				<span style="font-size: 30px;padding-left: 24px;">{{ monstre.name }}</span>
			</a>
		{% endfor %}
	</div>
{% endblock %}
