<!DOCTYPE html>
<html id="html">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="user-scalable=no">
		<meta http-equiv="ScreenOrientation" content="autoRotate:disabled">
		<title>
			{% block title %}{% endblock %}
		</title>
		{% block javascripts_top %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<a class="navbar-brand flex-grow-1 ml-2" href="{{ path('clicker') }}">RWBY Clicker</a>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<a class="nav-link active" href="{{ path('clicker') }}">Home</a>
					</li>
					{% if app.user %}
						<li class="nav-item">
							<a class="nav-link" href="{{ path('clicker_profile') }}">Mon Profil</a>
						</li>
					{% endif %}
					<li class="nav-item">
						<a class="nav-link" href="{{ path('clicker_leaderboard') }}">Leaderboard</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{ path('clicker_bestiary') }}">Bestiary</a>
					</li>
				</ul>
			</div>
			{% if app.request.get('_route') == 'clicker' or app.request.get('_route') == 'clicker_profil' %}
				<a class="btn btn-danger mt-3 mr-2" onclick="resetAccount()" role="button">Reset Account</a>
			{% endif %}
			{% if app.user %}
				<a class="btn btn-danger mt-3" href="{{ path('app_logout') }}" role="button">Logout</a>
			{% else %}
				<a class="btn btn-danger mt-3" href="{{ path('app_login') }}" role="button">Login</a>
			{% endif %}
			{% if app.request.get('_route') == 'clicker' and is_granted('ROLE_ADMIN') %}
				<a id="cheat" class="btn btn-danger" onclick="cheat()">Cheat ?</a>
			{% endif %}
		</nav>
		{% block body %}{% endblock %}
	</body>
	{% block javascripts_bottom %}
		{{ encore_entry_script_tags('app') }}
	{% endblock %}
</html>
